# 忽略 .obsidian 文件夹下的所有内容
.obsidian/

# 忽略 Obsidian 垃圾箱中的内容
.trash/

# Windows 系统缩略图缓存
Thumbs.db

# Linux 文件管理器缓存
.directory

# 忽略 Node.js 插件依赖
node_modules/

# Obsidian Git 临时日志
.obsidian-git-log.txt

# 忽略临时或备份文件
*.swp
